@model IEnumerable<EntityCache.WebBussines.WebUsers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RolleGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RememberMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RePassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RolleGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RememberMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RePassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Guid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Guid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Guid })
        </td>
    </tr>
}

</table>
